# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# Environments
.env
.venv/
env/
venv/
ENV/

# Flask cache
instance/
*.log

# Node (caso use JS externo)
node_modules/

# IDE configs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Sistema
.DS_Store
Thumbs.db

# Compilados / build
dist/
build/
*.egg-info
